{% extends "base.html" %}


{% block title %} Event Detail {% endblock %}
{% block content %}
<script>
    var update_event_title = "{% url 'crits.events.views.set_event_title' event.id %}";
    var update_event_type = "{% url 'crits.events.views.set_event_type' event.id %}";
    var get_event_types = "{% url 'crits.events.views.get_event_type_dropdown' %}";
    var event_id = "{{ event.id | escapejs}}";

</script>

{% if event %}
<div id="tabnav" class="tabnav" style="font-size:90%;">
    <ul style="font-size: 125%;">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
</ul>

<div id="details_section">
    <span class="horizontal_menu">
        <ul class="hmenu">
            <li><a href="#" class="dialogClick" dialog="new-sample" persona="related" action="{% url 'crits.events.views.upload_sample' event.id %}">Add Sample</a></li>
            <li><a href="#" class="dialogClick" dialog="download-event">Download Event</a></li>
            {% if admin %}
                <li class="right"><a href="#" class="deleteClick" data-is-object="true" type="event" action='{% url "crits.events.views.remove_event" event.id %}'>Delete Event</a></li>
            {% endif %}
        </ul>
    </span>
    <div class="content_box content_details">
        <h3 class="titleheader">
            <span>Event Details: {{ event.event_id }}</span>
        </h3>
        <div class="content_body">
            <table class="vertical" width="100%">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class='key'>ID</td>
                        <td>
                            {{ event.id }}
                        </td>
                    </tr>
                    <tr>
                        <td class='key'>Title</td>
                        <td>
                            <span class="edit_underline" id="event_title">{{ event.title }}</span><span id="event_title_error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class='key'>Type</td>
                        <td>
                            <span class="edit_underline" id="event_type">{{ event.event_type }}</span><span id="event_type_error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class='key'>Created</td>
                        <td>{{ event.created }}</td>
                    </tr>
                    <tr>
                        {% with description=event.description %}
                            {% include 'description_widget.html' %}
                        {% endwith %}
                    </tr>
                    <tr>
                        <td class="key">Status
                            <span style="float: right;" class="object_status_response"></span>
                        </td>
                        <td>
                            <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{event.status}}</span>
                        </td>
                    </tr>
                    {% with sectors=event.sectors %}
                        {% include "sector_widget.html" %}
                    {% endwith %}
                    <tr>
                    {% with sources=event.source obj_id=event.id obj_type=subscription.type %}
                        {% include "sources_listing_widget.html" %}
                    {% endwith %}
                    </tr>
                    <tr>
                    {% with releasability=event.releasability %}
                        {% include 'releasability_list_widget.html' %}
                    {% endwith %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="detail_floaters">
        {% include 'details_options_widget.html' %}
        {% with bucket_list=event.bucket_list %}
            {% include 'bucket_list_widget.html' %}
        {% endwith %}
        {% include 'add_related_widget.html' %}

    </div>
    <div class="content_box">
        {% with obj=event obj_type="Event" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
    </div>
    <div>
	{% with obj=event obj_type=subscription.type %}
             {% include 'tickets_listing_widget.html' %}
	{% endwith %}
    </div>
    <div>
        {% with hit=event col=COL_EVENTS %}
             {% include 'campaigns_display_widget.html' %}
        {% endwith %}
    </div>
    <div>
        {% with hit=event col=COL_EVENTS %}
             {% include 'locations_display_widget.html' %}
        {% endwith %}
    </div>
    <div>
        {% include 'relationships_listing_widget.html' %}
    </div>
    <div>
        {% include 'objects_listing_widget.html' %}
    </div>
    <div>
    {% include 'screenshot_widget.html' %}
    </div>
    <div>
        {% include "comments_listing_widget.html" %}
    </div>
</div>
{% with item=event %}
    {% include "services_analysis_section.html" with crits_type="Event" identifier=event.id %}
{% endwith %}
{% include 'services_tab_tabs_widget.html' %}

<div style="display: none;">

<div id="dialog-download-event">
    <form id="form-download-event" action="{% url 'crits.core.views.download_object' %}" method="POST" enctype="multipart/form-data">
    <table class="form">{{download_form.as_table}}</table>
    </form>
</div>

</div>

{% endif %}

{% endblock %}

{% block javascript_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/events.js"></script>
{% endblock %}

