# Common ignores
*.pyc
*.swp
*.swo

# Ignore custom config files and logs
crits/config/database.py
crits/config/overrides.py
logs/*.log*

# Ignore build files
documentation/src/_build/
extras/www/static/admin/

# Ignore Apple and brew
.DS_Store
INSTALL_RECEIPT.json

# Ignore aptitude cache
.apt_cache

# Ignore pip cache
.pip_cache

# Ignore vagrant dir
.vagrant

# Ignore MongoDB download
*mongodb-*

# Ignore VirtualEnv
venv/*
