*.pyc
*.swp
*.swo
crits/config/database.py
crits/config/overrides.py
logs/*.log*
.DS_Store
documentation/src/_build/
extras/www/static/admin/

# Ignore aptitude cache
.apt_cache

# Ignore pip cache
.pip_cache

# Ignore vagrant dir
.vagrant
