Django
Pillow
amqp
anyjson
billiard
biplist
celery
defusedxml
django-celery
django-debug-toolbar
#git+https://github.com/brianz/django-debug-toolbar-mongo.git
git+https://github.com/conversocial/django-debug-toolbar-mongo.git
django-debug-toolbar-template-profiler
django-debug-toolbar-template-timings>0.8
django-debug-toolbar-vcs-info
django-tastypie
git+https://github.com/Work4Labs/django-tastypie-mongoengine.git
future
kombu
lxml
#mongoengine
git+https://github.com/apolkosnik/mongoengine.git@v0.8.9
# This is in case we'll see faster mongoengine in the future
git+https://github.com/MongoEngine/django-mongoengine.git
pip>=8.1.2
pydeep>=0.2
pymongo
pyparsing
python-dateutil
python-ldap
python-magic>=0.4.6
python-mimeparse
pytz
pyyaml
requests
setuptools>=28.3.0
simplejson
six
ushlex
wsgiref
olefile
pycrypto
pyimpfuzzy
chardet
qrcode
