#Django 2.0+ requires Python 3.x
Django<2.0
Pillow
amqp
anyjson
billiard
biplist
celery
defusedxml
django-celery
django-debug-toolbar
#git+https://github.com/brianz/django-debug-toolbar-mongo.git
git+https://github.com/conversocial/django-debug-toolbar-mongo.git
django-debug-toolbar-template-profiler
django-debug-toolbar-template-timings>0.8
django-debug-toolbar-vcs-info
django-tastypie
git+https://github.com/Work4Labs/django-tastypie-mongoengine.git
future
kombu
lxml
#mongoengine from 0.9 to the latest: 0.15 makes CRITs painfully slow
#mongoengine - below in a patched version of MongoEngine 0.8.8 that works with Django 1.11
git+https://github.com/apolkosnik/mongoengine.git@v0.8.9
# This is here in case you'd like to try the more recent versions of mongoengine
git+https://github.com/MongoEngine/django-mongoengine.git@v0.3
pip>=8.1.2
pydeep>=0.2
pymongo
pyparsing
python-dateutil
python-ldap
python-magic>=0.4.6
python-mimeparse
pytz
pyyaml
requests
setuptools>=28.3.0
simplejson
six
ushlex
wsgiref
olefile
pycrypto
pyimpfuzzy
chardet
qrcode
