Django<1.7
Pillow
amqp
anyjson
billiard
biplist
celery
defusedxml
django-celery
django-tastypie==0.11.0
django-tastypie-mongoengine==0.4.5
kombu
lxml
m2crypto
--allow-external mongoengine
mongoengine==0.8.7
pydeep==0.2
pymongo==2.7.2
pyparsing
python-dateutil
python-ldap
python-magic==0.4.6
python-mimeparse
pytz
pyyaml
requests
setuptools
simplejson
six
ushlex
wsgiref
olefile
