Django<1.9
Pillow
amqp
anyjson
billiard
biplist
celery
defusedxml
django-celery
django-tastypie==0.13.3
git+https://github.com/frbapolkosnik/django-tastypie-mongoengine.git
kombu
lxml
m2crypto
--allow-external mongoengine
mongoengine==0.8.8
git+https://github.com/kbandla/pydeep.git
pymongo==2.7.2
pyparsing
python-dateutil
ldap3
python-magic==0.4.6
python-mimeparse
pytz
pyyaml
requests
setuptools
simplejson
six
olefile
