{% extends "base.html" %}

{% load url from future %}

{% block title %} Campaign Detail {% endblock %}

{% block content %}

<script>
    var update_campaign_aliases = "{% url 'crits.campaigns.views.campaign_aliases' %}";
    var campaign_name = "{{ campaign_detail.name|safe }}";
    var is_admin = "{{ admin }}";
</script>

<div id="tabnav" class="tabnav" style="font-size: 90%;">
    <ul style="font-size: 125%;">
    <li><a href="#details_section" id="details_tab"><span>Details</span></a></li>
    <li><a href="{% url 'crits.actors.views.actors_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="actors_tab"><span>Actors ({{ counts.Actor }})</span></a></li>
    <li><a href="{% url 'crits.backdoors.views.backdoors_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="backdoors_tab"><span>Backdoors ({{ counts.Backdoor }})</span></a></li>
    <li><a href="{% url 'crits.domains.views.domains_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="domains_tab"><span>Domains ({{ counts.Domain }})</span></a></li>
    <li><a href="{% url 'crits.emails.views.emails_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="emails_tab"><span>Emails ({{ counts.Email }})</span></a></li>
    <li><a href="{% url 'crits.events.views.events_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="events_tab"><span>Events ({{ counts.Event }})</span></a></li>
    <li><a href="{% url 'crits.exploits.views.exploits_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="exploits_tab"><span>Exploits ({{ counts.Exploit }})</span></a></li>
    <li><a href="{% url 'crits.indicators.views.indicators_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="indicators_tab"><span>Indicators ({{ counts.Indicator }})</span></a></li>
    <li><a href="{% url 'crits.ips.views.ips_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="ips_tab"><span>IPs ({{ counts.IP }})</span></a></li>
    <li><a href="{% url 'crits.pcaps.views.pcaps_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="pcaps_tab"><span>PCAPs ({{ counts.PCAP }})</span></a></li>
    <li><a href="{% url 'crits.samples.views.samples_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="samples_tab"><span>Samples ({{ counts.Sample }})</span></a></li>
    <li><a href="{% url 'crits.targets.views.targets_listing' 'inline' %}?campaign={{ campaign_detail.name|urlencode }}" id="targets_tab"><span>Targets ({{ counts.Target }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
    </ul>

<div id="details_section">
    <div class='content_box content_details'>
    <h3 class="titleheader">
        <span>{{campaign_detail.name}}</span>
    </h3>
    <div class="content_body">
        <table class="vertical" width="100%">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="key">ID</td>
                <td>
                    {{ campaign_detail.id }}
                </td>
            <tr>
                <td class="key">Aliases</td>
                <td>
                    <ul id="campaign_aliases">
                    {% for alias in campaign_detail.aliases %}
                        <li>{{alias}}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
            {% with description=campaign_detail.description %}
                {% include 'description_widget.html' %}
            {% endwith %}
            </tr>
            <tr id="ttps_container">
                {% include 'campaign_ttps_list_widget.html' %}
            </tr>
            <tr>
                <td class="key">Status
                    <span style="float: right;" class="object_status_response"></span>
                </td>
                <td>
                    <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{campaign_detail.status}}</span>
                </td>
            </tr>
            {% with sectors=campaign_detail.sectors %}
                {% include "sector_widget.html" %}
            {% endwith %}
            <tr>
                {% with releasability=campaign_detail.releasability %}
                    {% include "releasability_list_widget.html" %}
                {% endwith %}
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    <div id="detail_floaters">
        {% include 'details_options_widget.html' %}
        {% with bucket_list=campaign_detail.bucket_list %}
            {% include 'bucket_list_widget.html' %}
        {% endwith %}
    </div>
    <div class="content_box">
        {% with obj=campaign_detail obj_type="Campaign" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
    </div>
    <div class='content_box'>
      <h3 class="titleheader">
        <span>Email Activity</span>
      </h3>
      <div class="content_body">
        {% with campaign_name=campaign_detail.name %}
        {% include 'campaigns_display_chart_widget.html' %}
        {% endwith %}
      </div>
    </div>
    <div>
        {% with hit=campaign_detail col=COL_CAMPAIGNS obj=campaign_detail %}
            {% include "locations_display_widget.html" %}
        {% endwith %}
    </div>
    <div>
      {% with obj=campaign_detail obj_type=subscription.type %}
         {% include 'tickets_listing_widget.html' %}
      {% endwith %}
    </div>
    <div>
        {% include 'relationships_listing_widget.html' %}
    </div>
    <div>
        {% include 'objects_listing_widget.html' %}
    </div>
    <div>
    {% include 'screenshot_widget.html' %}
    </div>
    <div>
        {% include "comments_listing_widget.html" %}
    </div>

</div>


{% include 'services_tab_tabs_widget.html' %}

<div style="display: none;">

{% include 'campaign_ttps_form.html' %}

<div id="remove-ttp-form" title="Delete TTP">
    <form id="form-remove-ttp" method='POST'>
        <p>Are you sure you want to remove this TTP?</p>
    </form>
</div>

</div>

<script>
    $(document).bind('enable_aliases', function(){
        window.add_aliases = true;
    });
</script>

{% endblock %}

{% block javascript_includes %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/campaigns.js"></script>
{% endblock %}

