{% extends "base.html" %}
{% load url from future %}

{% block title %} Certificate Details {% endblock %}

{% block content %}

<script>
    var cert_md5 = "{{ cert.md5 }}";
</script>

{% if cert %}
<div id="tabnav" class="tabnav" style="font-size:90%;">
    <ul style="font-size: 125%;">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
</ul>

<div id="details_section">
    <span class="horizontal_menu">
    <ul class="hmenu">
        <li><a href="{% url 'crits.core.views.download_file' cert.md5 %}?type=cert">Download Certificate</a></li>
        {% if admin %}
            <li class="right"><a href="#" class="deleteClick" data-is-object="true" type="certifcate" action='{% url "crits.certificates.views.remove_certificate" cert.md5 %}'>Delete Certificate</a></li>
        {% endif %}
    </ul>
    </span>
    <div class="content_box content_details">
        <h3 class="titleheader">
        <span>Certificate Details<span>
        </h3>
        <table class="vertical" width="100%">
        <thead>
        </thead>
        <tbody>
            <tr>
            <td class='key'>ID</td>
            <td>{{ cert.id }}</td>
            </tr>
            <tr>
            <td class='key'>Filename</td>
            <td>{{ cert.filename }}<a href="{% url 'crits.core.views.download_file' cert.md5 %}?type=cert"><div class="ui-icon ui-icon-disk download_file"></div></a></td>
            </tr>
            <tr>
            <td class='key'>Filetype</td>
            <td>{{ cert.filetype }}</td>
            </tr>
            <tr>
            <td class='key'>Created</td>
            <td>{{ cert.created }}</td>
            </tr>
            <tr>
            <td class='key'>Size</td>
            <td>{{ cert.size }}</td>
            </tr>
            <tr>
            <td class='key'>MD5</td>
            <td>{{ cert.md5 }}</td>
            </tr>
            <tr>
                {% with description=cert.description %}
                    {% include 'description_widget.html' %}
                {% endwith %}
            </tr>
            <tr>
                <td class="key">Status
                    <span style="float: right;" class="object_status_response"></span>
                </td>
                <td>
                    <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{cert.status}}</span>
                </td>
            </tr>
            {% with sectors=cert.sectors %}
                {% include "sector_widget.html" %}
            {% endwith %}
            <tr>
            {% with sources=cert.source obj_id=cert.id obj_type=subscription.type %}
                {% include "sources_listing_widget.html" %}
            {% endwith %}
            </tr>
            <tr>
                {% with releasability=cert.releasability %}
                    {% include 'releasability_list_widget.html' %}
                {% endwith %}
            </tr>
        </tbody>
        </table>
    </div>
    <div id="detail_floaters">
        {% include 'details_options_widget.html' %}
        {% with bucket_list=cert.bucket_list %}
            {% include 'bucket_list_widget.html' %}
        {% endwith %}
    </div>
    <div class="content_box">
        {% with obj=cert obj_type="Certificate" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
    </div>
    <div>
      {% with obj=cert obj_type=subscription.type %}
         {% include 'tickets_listing_widget.html' %}
      {% endwith %}
    </div>
    <div>
        {% with hit=cert col=COL_CERTIFICATES %}
            {% include "campaigns_display_widget.html" %}
        {% endwith %}
    </div>
    <div>
        {% with hit=cert col=COL_CERTIFICATES %}
            {% include "locations_display_widget.html" %}
        {% endwith %}
    </div>
    <div>
        {% include 'relationships_listing_widget.html' %}
    </div>
    <div>
        {% include 'objects_listing_widget.html' %}
    </div>
    <div>
    {% include 'screenshot_widget.html' %}
    </div>
    <div>
        {% include "comments_listing_widget.html" %}
    </div>
</div>
{% with item=cert %}
    {% include "services_analysis_section.html" with crits_type="certificate" identifier=cert.md5 %}
{% endwith %}
{% include 'services_tab_tabs_widget.html' %}
</div>

{% else %}
<h3>Certificate not found. If you just uploaded a certificate, try refreshing as the system might not have completed processing your upload yet.</h3>

{% endif %}

{% endblock %}

{% block javascript_includes %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/certificates.js"></script>
{% endblock %}

