
    <table class="chart tablesorter" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Description</th>
            <th>Upload Date</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
    {% for cert in cert_list %}
        <tr>
            <td>
                <a href="{% url 'crits.certificates.views.certificate_details' cert.md5 %}">{{ cert.filename }}</a>
            </td>
            <td>{{ cert.size }}</td>
            <td>{{ cert.description }}</td>
            <td>{{ cert.created|date:"m/d/Y" }}</td>
            <td>{{ cert.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
