

<div id="dialog-{{ request.GET.dialog }}" title="Upload Indicator Blob">
    <p><b>Indicator Blob upload accepts a CSV formatted input.<br/>
	It must have the following column names to be processed properly:<br/>
        Indicator, Type, Threat Type, Attack Type, Description, Campaign, Campaign Confidence, Confidence, Impact, Bucket List, Ticket, Action, Status</b><br/><br/>
        Separate multiple Tickets, Actions, and/or Bucket List values with commas, and<br/>
        surround with quotes (e.g. "value1,value2,value3").</p>
    <form id="form-{{ request.GET.dialog }}"
	  action='{% url "crits.indicators.views.upload_indicator" %}'
	  method='POST' enctype="multipart/form-data"
	  item-type="indicator" input_clear_filter="[type!='hidden'][id!='id_data']">
    <table class="form">{{ upload_text.as_table }}</table>
    <input type="hidden" name="svalue" value="Upload Text">
    </form>
</div>
