
    <table class="chart tablesorter" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Filetype</th>
            <th>Receive</th>
            <th>Campaign</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
    {% for hit in sample_list %}
        <tr>
        <td class="sample_detail" id="{{ hit.samples.md5 }}">
            <a href="{% url 'crits.samples.views.detail' hit.md5 %}">{{ hit.filename }}</a>
        </td>
        <td>{{ hit.size }}</td>
        <td>{{ hit.mimetype }}</td>
        <td>{{ hit.source.0.instances.0.date|date:"m/d/Y" }}</td>
        <td>
        {% if hit.campaign %}
        {% for campaign in hit.campaign %}
            {% if campaign.name %}
            <a href="{% url 'crits.campaigns.views.campaign_details' campaign.name %}">{{campaign.name}}</a>
            {% endif %}
        {% endfor %}
        {%endif %}

        </td>
        <td>
            {{ hit.id }}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
