
<div id="dialog-upload-new-signature-version" title="Upload New Version">
   <script type="text/javascript">
   $(document).ready(function() {
       $("#id_data_type_dependency").tagit({
            showAutocompleteOnFocus: true,
            allowSpaces: true,
            removeConfirmation: true,

            afterTagAdded: function(event, ui) {
                //Issue with tagit height is too high...
                $("li.tagit-choice").height('14px');
            },
            afterTagRemoved: function(event, ui) {
            },
            onTagClicked: function(event, ui) {
            },
            autocomplete: {
                delay: 0,
                minLength: 2,
                source: function(request, response) {

                    data = {term: request.term}

                     $.ajax({
                        type: 'POST',
                        url: "{% url 'crits.signatures.views.dependency_autocomplete' %}",
                        data: data,
                        datatype: 'json',
                        success: function(data) {
                            response(data);
                        }
                    });
                }
            }
        });


        //These are changes to make tagit work with a modal dialog, these are not ideal changes.
        //Put these in css file and change class to fix it for modal
        $("#form-upload-new-signature-version").find("ul.tagit").height($("#id_data_type_dependency").height()*3);
        $("#form-upload-new-signature-version").find("ul.tagit").width($("#id_data_type_dependency").width()*2);
        //The autocomplete shows up behind the modal dialog, this will bring the autocomplete to the foreground
        //This should be fixed, probably not the best way to do this.
        var autoSuggestion = $('.ui-autocomplete');
        var dialogZ = $(".ui-dialog").css("z-index");
        if(autoSuggestion.length > 0) {
            for(var i = 0; i <autoSuggestion.length; i++)
                autoSuggestion[i].style.zIndex=dialogZ+1;
        }
   });
   </script>

    <form id="form-upload-new-signature-version"
      method='POST' enctype="multipart/form-data" item-type="Signature">
    <table class="form">{{ upload_signature.as_table }}</table>
    <div id="form-upload-new-signature-version-results" class="message"></div>
    </form>
</div>

{% block javascript_includes %}
{% endblock %}
