
    <div class="content_box relationship_box" id="relationship_box_container">
        <h3 class="titleheader">
                    {% if relationships %}
            <span class="collapsible">Relationships ({{ relationships.Count}})</span>
                    {% else %}
            <span>Relationships (0)</span>
                    {% endif %}
                        <span class="add_button" data-intro="Add a relationship" data-position="right">
                            <a style="display: inline-block;" href="#" title="Add Relationship" class="ui-icon ui-icon-person dialogClick" data-value="{{ relationship.value|escapejs }}" data-type="{{ relationship.type|escapejs }}" dialog="forge-relationship" id="forge-relationship"></a>
                        </span>
                        <span style="float: right;" class="ui-icon ui-icon-triangle-1-s collapsible"></span>
        </h3>
            {% if relationships %}
            <table class='chart relationship_listing collapser' id='relationship_listing'>
            <thead>
                <tr>
                    <th width="100px">Type</th>
                    <th>Details
                        <span style="float: right;width: 50px;" data-intro="More/ Delete/ View" data-position="top"></span>
                    </th>
                </tr>
          </thead>
            <tbody>
                    {% if relationships.Actor %}
                        {% with rel_list=relationships.Actor rel_type='Actor' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Backdoor %}
                        {% with rel_list=relationships.Backdoor rel_type='Backdoor' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Campaign %}
                        {% with rel_list=relationships.Campaign rel_type='Campaign' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Certificate %}
                        {% with rel_list=relationships.Certificate rel_type='Certificate' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Domain %}
                        {% with rel_list=relationships.Domain rel_type='Domain' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Email %}
                        {% with rel_list=relationships.Email rel_type='Email' %}
                            {% include 'email_listing_mini_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Target %}
                        {% with rel_list=relationships.Target rel_type='Target' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Event %}
                        {% with rel_list=relationships.Event rel_type='Event' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Exploit %}
                        {% with rel_list=relationships.Exploit rel_type='Exploit' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Indicator %}
                        {% with rel_list=relationships.Indicator rel_type='Indicator' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.IP %}
                        {% with rel_list=relationships.IP rel_type='IP' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.PCAP %}
                        {% with rel_list=relationships.PCAP rel_type='PCAP' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.RawData %}
                        {% with rel_list=relationships.RawData rel_type='RawData' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Sample %}
                        {% with rel_list=relationships.Sample rel_type='Sample' %}
                            {% include 'samples_malware_mini_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Signature %}
                        {% with rel_list=relationships.Signature rel_type='Signature' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Other > 0 %}
                        <tr>
                            <td colspan="2" class="relationship_spacer"></td>
                        </tr>
                        <tr>
                            <td><b>Other ({{ relationships.Other }})</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
            </tbody>
        </table>
            {% endif %}
    </div>
