
<tr>
    <td colspan="2" class="relationship_spacer"></td>
</tr>
<tr>
    <td>
        <b>{{ rel_type}}{% if rel_type != 'RawData' %}s{% endif %}:</b>
        <span style="float: right;" class="ui-icon ui-icon-triangle-1-e relationships_dropdown"></span>
        <b><span class="rel_type_count">{{ rel_list|length }}</span></b>
    </td>
    <td style="padding: 0px; margin:0px;">
        {% if nohide == None and rel_list|length > 5 %}
                <table class='chart' id='relationship_listing_table_{{rel_type|lower}}' style="display: none; border: 0px;">
        {% else %}
                <table class='chart' id='relationship_listing_table_{{rel_type|lower}}' style="border: 0px;">
        {% endif %}
            <thead>
                <tr style="border-top: 0px;">
                    <th width="20px"><span class="ui-icon ui-icon-document" title="Details"></span></th>
                    <th width="120px">Relationship</th>
                    {% if rel_type == 'Target' %}
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Email Count</th>
                    {% elif rel_type == 'Actor' %}
                        <th>Name</th>
                        <th>Campaign</th>
                    {% elif rel_type == 'Backdoor' %}
                        <th>Name</th>
                        <th>Version</th>
                        <th>Campaign</th>
                    {% elif rel_type == 'Event' %}
                        <th>Title</th>
                        <th>Type</th>
                        <th>Description</th>
                    {% elif rel_type == 'Exploit' %}
                        <th>Name</th>
                        <th>CVE</th>
                        <th>Campaign</th>
                    {% elif rel_type == 'Indicator' %}
                        <th>Value</th>
                        <th>Type</th>
                        <th>Actions</th>
                        {% if relationship.type in 'EventEmail' %}
                            <th>Event Count</th>
                        {% endif %}
                    {% elif rel_type == 'Certificate' %}
                        <th>Filename</th>
                        <th>Filetype</th>
                        <th>Description</th>
                    {% elif rel_type == 'PCAP' %}
                        <th>Filename</th>
                        <th>Description</th>
                    {% elif rel_type == 'RawData' %}
                        <th>Title</th>
                        <th>Data Type</th>
                        <th>Tool</th>
                        <th>Description</th>
                        <th>Version</th>
                    {% elif rel_type == 'Signature' %}
                        <th>Title</th>
                        <th>Data Type</th>
                        <th>Description</th>
                        <th>Version</th>
                    {% elif rel_type == 'IP' %}
                        <th>IP Address</th>
                    {% elif rel_type == 'Domain' %}
                        <th>Domain Name</th>
                    {% elif rel_type == 'Campaign' %}
                        <th>Name</th>
                    {% else %}
                        <th>Details</th>
                    {% endif %}
                    {% if rel_type in "RawDataSignaturePCAPCertificateIndicatorEvent" %}
                      <th>Campaign</th>
                    {% endif %}
                    <th>Analyst</th>
                    <th>Date</th>
                    <th width="75px">Confidence</th>
                    <th width="35px"></th>
                </tr>
            </thead>
            <tbody>
                {% for rel in rel_list %}
                    <tr mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}" rConfidence="{{ rel.rel_confidence }}" {% if rel_type == 'Indicator' %} data-value="{{rel.ind_value}}" data-type="{{rel.ind_type}}"{% endif %}>
                        <td style="width: 16px; padding: 0px"><a href="{% url 'crits.core.views.details' rel_type rel.value %}" style="width: 16px; padding: 0px" class="ui-icon ui-icon-document" title="View Details"></a></td>
                        <td class="relationship_type_edit tooltip_edit" action="{% url 'crits.relationships.views.update_relationship_type' %}">{{ rel.relationship }}</td>
                        {% if rel_type == 'Campaign' %}
                            <td>
                                <a href="{% url 'crits.campaigns.views.campaign_details' rel.name %}">{{ rel.name }}</a>
                            </td>
                        {% elif rel_type == 'Domain' %}
                            <td>{{ rel.domain }}</td>
                        {% elif rel_type == 'Target' %}
                            <td>{{ rel.firstname }}</td>
                            <td>{{ rel.lastname }}</td>
                            <td>{{ rel.email_address }}</td>
                            <td>{{ rel.email_count }}</td>
                        {% elif rel_type == 'Actor' %}
                            <td>{{ rel.name }}</td>
                        {% elif rel_type == 'Backdoor' %}
                            <td>{{ rel.name }}</td>
                            <td>{{ rel.version }}</td>
                        {% elif rel_type == 'Event' %}
                            <td>{{ rel.title }}</td>
                            <td>{{ rel.event_type }}</td>
                            <td>{{ rel.description|truncatechars:100 }}</td>
                        {% elif rel_type == 'Exploit' %}
                            <td>{{ rel.name }}</td>
                            <td>{{ rel.cve }}</td>
                        {% elif rel_type == 'Indicator' %}
                            <td>
                                {{ rel.ind_value }}
                                {% if splunk_search_url %}
                                <span style="float: right;">
                                    <a href="{{ splunk_search_url }}{{ rel.ind_value }}" target="_blank"><img src="/new_images/splunk.png" /></a>
                                </span>
                                {% endif%}
                            </td>
                            <td><a href="{% url 'crits.indicators.views.indicators_listing' %}?type={{ rel.ind_type }}">{{ rel.ind_type }}</a></td>
                            <td>
                                {% for action in rel.actions %}
                                    {% if action.active == 'off' %}
                                        <s>
                                    {% endif %}
                                    {{ action.action_type }}
                                    {% if action.active == 'off' %}
                                        </s>
                                    {% endif %}
                                    <br />
                                {% endfor %}
                            </td>
                            {% if relationship.type in 'EventEmail' %}
                                <td class='eventCountWidth'>
                                    <a href="{% url 'crits.events.views.events_listing' %}?related={{ rel.id }}">{{ rel.rel_ind_events }}</a>
                                </td>
                            {% endif %}
                        {% elif rel_type == 'IP' %}
                            <td>{{ rel.ip }}</td>
                        {% elif rel_type == 'Certificate' %}
                            <td><a href="{% url 'crits.certificates.views.certificate_details' rel.md5 %}">{{ rel.filename }}</a></td>
                            <td>{{ rel.filetype }}</td>
                            <td>{{ rel.description }}</td>
                        {% elif rel_type == 'PCAP' %}
                            <td><a href="{% url 'crits.pcaps.views.pcap_details' rel.md5 %}">{{ rel.filename }}</a></td>
                            <td>{{ rel.description }}</td>
                        {% elif rel_type == 'RawData' %}
                            <td>{{ rel.title }}</td>
                            <td>{{ rel.data_type }}</td>
                            <td>{{ rel.tool.name }}</td>
                            <td>{{ rel.description|truncatechars:100 }}</td>
                            <td>{{ rel.version }}</td>
                        {% elif rel_type == 'Signature' %}
                            <td>{{ rel.title }}</td>
                            <td>{{ rel.data_type }}</td>
                            <td>{{ rel.description|truncatechars:100 }}</td>
                            <td>{{ rel.version }}</td>
                        {% endif %}
                        {% if rel_type in "RawDataSignaturePCAPCertificateIndicatorEventActorExploitBackdoor" %}
                            <td class='campaignWidth'>
                                {% for campaign in rel.campaign %}
                                    <a href="{% url 'crits.campaigns.views.campaign_details' campaign.name %}">
                                        {% if campaign.confidence == 'low' %}
                                            <font color="green">
                                        {% elif campaign.confidence == 'medium' %}
                                            <font color="orange">
                                        {% elif campaign.confidence == 'high' %}
                                            <font color="red">
                                        {% endif %}
                                            {{ campaign.name }}
                                        </font>
                                    </a><br />
                                {% endfor %}
                            </td>
                        {% endif %}
                        <td width="125px">{{rel.analyst}}</td>
                        <td width="125px">{{rel.relationship_date|date:"Y-m-d H:i:s"}}</td>
                        <td class='relationship_confidence_edit' action="{% url 'crits.relationships.views.update_relationship_confidence' %}">{{ rel.rel_confidence }}</td>
                        <td width="35px">
                            <div class="qtip-container ui-icon ui-icon-note" title="More Info..."></div>
                            <div class="qtip-body" mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}">
                                <b>Relationship Date:</b> <span class="relationship_date_edit tooltip_edit" action="{% url 'crits.relationships.views.update_relationship_date' %}">
                                    {% if rel.relationship_date != '' %}
                                        {{ rel.relationship_date }}
                                    {% else %}
                                    None
                                   {% endif %}
                                    </span><br />
                                <b>Forge Date:</b> {{ rel.date|date:"Y-m-d" }}
                                <div  mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}" rConfidence="{{ rel.rel_confidence }}" {% if rel_type == 'Indicator' %} data-value="{{rel.ind_value}}" data-type="{{rel.ind_type}}"{% endif %}>
                                    <b>Reason: </b>
                                    <div style="display:inline-block; min-width:200px" class='relationship_reason_edit' action="{% url 'crits.relationships.views.update_relationship_reason' %}">
                                        {% if rel.rel_reason != null and rel.rel_reason != '' %}
                                            {{ rel.rel_reason }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-icon ui-icon-trash dialogClick" dialog="confirm-breakup"></div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
</tr>

