{% extends "base.html" %}
{% load filters %}

{% block title %} IP Detail {% endblock %}

{% block content %}

<script>
    var ip_id = "{{ ip.id | escapejs }}";
</script>

<div id="tabnav" class="tabnav" style="font-size:90%">
    <ul style="font-size: 125%">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    {% if IPACL.SERVICES_READ|has_access_to:user%}
      <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
      {% include 'services_tab_list_widget.html' %}
    {% endif %}
    </ul>

<div id="details_section">
    <div class="content_box content_details">
        <h3 class="titleheader">
            <span>Details for {{ip.ip}}</span><!-- TODO: add in-place IP editing here -->
        </h3>
        <div class="content_body">
            <table class="vertical" width="100%">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="key">ID</td>
                        <td>{{ip.id}}</td>
                    </tr>
                    <tr>
                        <td class="key">Created</td>
                        <td>{{ip.created}}</td>
                    </tr>
                    {% if IPACL.DESCRIPTION_READ|has_access_to:user %}
                      <tr>
                          {% with description=ip.description %}
                              {% include 'description_widget.html' %}
                          {% endwith %}
                      </tr>
                    {% endif %}
                    <tr>
                        <td class="key">Analyst</td>
                        <td>{{ip.analyst}}</td>
                    </tr>
                    <tr>
                        <td class="key">Type</td>
                        <td>{{ip.ip_type}}</td>
                    </tr>
                    {% if IPACL.STATUS_READ|has_access_to:user%}
                    <tr>
                        <td class="key">Status
                            <span style="float: right;" class="object_status_response"></span>
                        </td>
                        <td>
                            <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{ip.status}}</span>
                        </td>
                    </tr>
                    {% endif %}
                    {% with tlp=ip.tlp %}
                        {% include "tlp_widget.html" %}
                    {% endwith %}
                    {% if IPACL.SECTORS_READ|has_access_to:user %}
                      {% with sectors=ip.sectors %}
                          {% include "sector_widget.html" %}
                      {% endwith %}
                    {% endif %}
                    {% if IPACL.SOURCES_READ|has_access_to:user %}
                    <tr>
                        {% with sources=ip.source obj_id=ip.id obj_type=subscription.type %}
                            {% include "sources_listing_widget.html" %}
                        {% endwith %}
                    </tr>
                    {% endif %}
                    {% if IPACL.RELEASABILITY_READ|has_access_to:user %}
                    <tr>
                        {% with releasability=ip.releasability %}
                            {% include "releasability_list_widget.html" %}
                        {% endwith %}
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div> <!-- content_body -->
     </div> <!-- content_box -->
     <div id="detail_floaters">
         {% include 'details_options_widget.html' %}
         {% if IPACL.BUCKETLIST_READ|has_access_to:user %}
         {% with bucket_list=ip.bucket_list %}
             {% include 'bucket_list_widget.html' %}
         {% endwith %}
         {% endif %}
         {% include 'add_related_widget.html' %}

     </div>
     {% if IPACL.ACTIONS_READ|has_access_to:user %}
     <div class="content_box">
          {% with obj=ip obj_type="IP" %}
              {% include 'action_listing_widget.html' %}
          {% endwith %}
     </div>
     {% endif %}
     {% if IPACL.TICKETS_READ|has_access_to:user %}
     <div>
	    {% with obj=ip obj_type=subscription.type %}
                {% include 'tickets_listing_widget.html' %}
	    {% endwith %}
    </div>
    {% endif %}
    {% if IPACL.CAMPAIGNS_READ|has_access_to:user and IPACL.CAMPAIGN_READ|has_access_to:user %}
    <div>
        {% with hit=ip col=COL_IPS %}
            {% include "campaigns_display_widget.html" %}
        {% endwith %}
    </div>
    {% endif %}
    {% if IPACL.LOCATIONS_READ|has_access_to:user %}
    <div>
        {% with hit=ip col=COL_IPS %}
            {% include "locations_display_widget.html" %}
        {% endwith %}
    </div>
    {% endif %}
    {% if IPACL.RELATIONSHIPS_READ|has_access_to:user %}
    <div>
        {% include 'relationships_listing_widget.html' %}
    </div>
    {% endif %}
    {% if IPACL.OBJECTS_READ|has_access_to:user %}
    <div>
        {% include 'objects_listing_widget.html' %}
    </div>
    {% endif %}
    {% if IPACL.SCREENSHOTS_READ|has_access_to:user %}
    <div>
    {% include 'screenshot_widget.html' %}
    </div>
    {% endif %}
    {% if IPACL.COMMENTS_READ|has_access_to:user %}
    <div>
        {% include "comments_listing_widget.html" %}
    </div>
    {% endif %}
</div> <!-- details_section -->

{% if IPACL.SERVICES_READ|has_access_to:user %}
{% with item=ip %}
    {% include "services_analysis_section.html" with crits_type="IP" identifier=ip.id %}
{% endwith %}

{% include 'services_tab_tabs_widget.html' %}
{% endif %}
</div>

{% endblock %}

{% block javascript_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ips.js"></script>
{% endblock %}
