
<tr>
    <td data-field="action_type">{{action.action_type}}</td>
    <td data-field="begin_date">{{action.begin_date}}</td>
    <td data-field="end_date">{{action.end_date}}</td>
    <td data-field="performed_date">{{action.performed_date}}</td>
    <td data-field="active">{{action.active}}</td>
    <td data-field="reason">{{action.reason}}</td>
    <td data-field="date" class="extradata">{{action.date}}</td>
    <td data-field="analyst">{{action.analyst}}</td>
    <td>
    {% if admin %}
    <a href="#" title="Delete Action" class="ui-icon ui-icon-close deleteClick" type="action" action="{% url 'crits.core.views.remove_action' obj_type=obj_type obj_id=obj_id %}" key="{{action.date}},{{action.action_type}}"></a>
    {% endif %}
    <a href="#" title="Edit Action" class="edit_action_button ui-icon ui-icon-pencil dialogClick" dialog="add-action" persona="update" action="{% url 'crits.core.views.add_update_action' 'update' obj_type obj_id %}"></a>
    </td>
</tr>
