<div class="content_box" id="add_related_box">
    <div id="add_related" hidden></div>
    <h3 class='titleheader'>
        <span>Add Related</span>
    </h3>
    <div data-intro"Section for adding related Objects." data-position="bottom">
        <form id="add_related_form" method="post"> {% csrf_token %}
            <select id="add_related_options" onchange="populateList()">
                <option>Choose TLO</option>
                {% if permissions.Actor.read %}
                  <option value='new-actor'>Actor</option>
                {% endif %}
                {% if permissions.Backdoor.read %}
                  <option value='new-backdoor'>Backdoor</option>
                {% endif %}
                {% if permissions.Campaign.read %}
                  <option value='new-campaign'>Campaign</option>
                {% endif %}
                {% if permissions.Certificate.read %}
                  <option value='new-certificate'>Certificate</option>
                {% endif %}
                {% if permissions.Domain.read %}
                  <option value='new-domain'>Domain</option>
                {% endif %}
                {% if permissions.Email.read %}
                  <option value='new-email-fields'>Email</option>
                  <option value='new-email-eml'>Email (eml)</option>
                  <option value='new-email-raw'>Email (raw)</option>
                  <option value='new-email-yaml'>Email (YAML)</option>
                  <option value='new-email-outlook'>Email (Outlook)</option>
                {% endif %}
                {% if permissions.Event.read %}
                  <option value='new-event'>Event</option>
                {% endif %}
                {% if permissions.Exploit.read %}
                  <option value='new-exploit'>Exploit</option>
                {% endif %}
                {% if permissions.Indicator.read %}
                  <option value='new-indicator'>Indicator</option>
                  <option value='new-indicator-csv'>Indicator (csv)</option>
                  <option value='indicator-blob'>Indicator (blob)</option>
                {% endif %}
                {% if permissions.IP.read %}
                  <option value='new-ip'>IP</option>
                {% endif %}
                {% if permissions.PCAP.read %}
                  <option value='new-pcap'>PCAP</option>
                {% endif %}
                {% if permissions.RawData.read %}
                  <option value='new-raw-data'>Raw Data</option>
                  <option value='new-raw-data-file'>Raw Data File</option>
                {% endif %}
                {% if permissions.Sample.read %}
                  <option value='new-sample'>Sample</option>
                {% endif %}
                {% if permissions.Signature.read %}
                  <option value='new-signature'>Signature</option>
                {% endif %}
                {% if permissions.Target.read %}
                  <option value='new-target'>Target</option>
                {% endif %}
            </select>
        </form>
    </div>
</div>


<script type="text/javascript">
    function populateList() {
        var selected_option = document.getElementById('add_related_options');
        var add_related_div = document.getElementById('add_related');
        add_related_div.setAttribute("dialog", selected_option.value);
        add_related_div.setAttribute("persona", "related");
        add_related_div.setAttribute("class", "dialogClick");
        add_related_div.click();

    }
</script>
