
{% load url from future %}

{% block title %}CRITs Control Panel{% endblock %}

{% block content %}

<style>
    #panel_sections {
        min-width: 150px;
        max-width: 150px;
        min-height: 90%;
        max-height: 90%;
        vertical-align: top;
    }
    #iframe_container {
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden
    }
    #panel_views {
        height: 100%;
        min-width: 102%;
        max-width: 102%;
        min-height: 100%;
        max-height: 100%;
        vertical-align: top;
        border: none;
        overflow: auto;
    }
    div#panel_sections ul.menu {
        max-height: 90%;
        list-style: none;
    }
    div#panel_sections ul.menu li {
        background: #eee;
    }
    div#panel_sections ul.menu li.menu_item a:hover {
        font-weight: bold;
        vertical-align: top;
    }
    table#panel_table {
        height: 99%;
    }
    table#panel_table tr {
        min-height: 100%;
    }
    table#panel_table tr td {
        vertical-align: top;
        min-height: 100%;
    }
    table#panel_table tr td.cpanel_sections {
    }
    table#panel_table tr td:last-child {
        overflow-y: hidden;
    }
</style>

<script>
    $(document).ready(function() {
        $('#panel_views').attr('src', $('#system_panel').attr('href'));
    });
</script>

<table width="100%" id="panel_table" height="99%">
    <colgroup>
        <col width="150px"></col>
        <col width="100%"></col>
    </colgroup>
    <tr>
        <td class="cpanel_sections">
            <div id="panel_sections">
                <ul class="menu" data-intro="Control Panel Sections" data-position="right">
                    <font size="2"><b>Control Panels</b></font>
                    <li class="menu_item">
                    <a id="system_panel" href="{% url 'crits.config.views.crits_config' %}" target="panel_views">System</a>
                    </li>
                    <li class="menu_item">
                    <a id="item_editor_panel" href="{% url 'crits.core.views.item_editor' %}" target="panel_views">Items</a>
                    </li>
                    <li class="menu_item">
                    <a id="user_editor_panel" href="{% url 'crits.core.views.users_listing' %}" target="panel_views">Users</a>
                    </li>
                    <li class="menu_item">
                    <a id="services_panel" href="{% url 'crits.services.views.list' %}" target="panel_views">Services</a>
                    </li>
                    <li class="menu_item">
                    <a id="audit_panel" href="{% url 'crits.core.views.audit_listing' %}" target="panel_views">Audit Log</a>
                    </li>
                     {% for cp_template in service_cp_templates %}
                        {% include cp_template %}
                    {% endfor %}
                </ul>
            </div>
        </td>
        <td height="100%">
            <div id="iframe_container" height="100%">
                <iframe id="panel_views" scrolling="no" name="panel_views" height="100%">
                </iframe>
            </div>
        </td>
    </tr>
</table>


{% endblock %}
