{% extends "base.html" %}
{% load url from future %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
    $(".chart").tablesorter();
    });
</script>

<table width="100%">
    <tr>
    <td>

<div style='width: 350px; margin-right: 20px; float: left;'>
    {% with count_jtable as jtable %}
    {% with count_jtid as jtid %}
    {% with count_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>


<div style='width: 250px; margin-right: 20px; float: left;'>
    {% with backdoor_jtable as jtable %}
    {% with backdoor_jtid as jtid %}
    {% with backdoor_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>


<div style='width: 1024px; float: left;'>
    {% with campaign_jtable as jtable %}
    {% with campaign_jtid as jtid %}
    {% with campaign_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>

    </td>
    </tr>
    <tr>
    <td>
    {% with indicator_jtable as jtable %}
    {% with indicator_jtid as jtid %}
    {% with indicator_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </td>
    </tr>
    <tr>
    <td>
    {% with email_jtable as jtable %}
    {% with email_jtid as jtid %}
    {% with email_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </td>
    </tr>
    <tr>
    <td>
    {% with sample_jtable as jtable %}
    {% with sample_jtid as jtid %}
    {% with sample_button as button %}
    {% include "jtable.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </td>
    </tr>
</table>

{% endblock %}
