<div id='items_jTable' class="tabnav" style="font-size: 90%;">
    <ul style="font-size: 125%;">
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorThreatIdentifier' 'inline' %}"
            id="actor_threat_identifiers_button"><span>Actor Threat Identifiers ({{ counts.ActorThreatIdentifier }})</span></a></li>
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorThreatType' 'inline' %}"
            id="actor_threat_types_button"><span>Actor Threat Types ({{ counts.ActorThreatType }})</span></a></li>
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorMotivation' 'inline' %}"
            id="actor_motivations_button"><span>Actor Motivations ({{ counts.ActorMotivation }})</span></a></li>
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorSophistication' 'inline' %}"
            id="actor_sophistications_button"><span>Actor Sophistications ({{ counts.ActorSophistication }})</span></a></li>
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorIntendedEffect' 'inline' %}"
            id="actor_intended_effects_button"><span>Actor Intended Effects ({{ counts.ActorIntendedEffect }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'Campaign' 'inline' %}"
	        id="campaign_button"><span>Campaigns ({{ counts.Campaign }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'EventType' 'inline' %}"
	        id="eventtype_button"><span>Event Types ({{ counts.EventType }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'IndicatorAction' 'inline' %}"
	        id="indicatoraction_button"><span>Indicator Actions ({{ counts.IndicatorAction }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'ObjectType' 'inline' %}"
	        id="objecttype_button"><span>Object Types ({{ counts.ObjectType }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'RawDataType' 'inline' %}"
	        id="rawdatatype_button"><span>Raw Data Types ({{ counts.RawDataType }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'RelationshipType' 'inline' %}"
	        id="relationshiptype_button"><span>Relationship Types ({{ counts.RelationshipType }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'SourceAccess' 'inline' %}"
	        id="sourceaccess_button"><span>Sources ({{ counts.SourceAccess }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'UserRole' 'inline' %}"
	        id="userrole_button"><span>User Roles ({{ counts.UserRole }})</span></a></li>
    </ul>
</div>
