<div id='items_jTable' class="tabnav" style="font-size: 90%;">
    <ul style="font-size: 125%;">
        <li><a href="{% url 'crits.core.views.items_listing' 'ActorThreatIdentifier' 'inline' %}"
            id="actor_threat_identifiers_button"><span>Actor Threat Identifiers ({{ counts.ActorThreatIdentifier }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'Campaign' 'inline' %}"
	        id="campaign_button"><span>Campaigns ({{ counts.Campaign }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'Action' 'inline' %}"
	        id="action_button"><span>Actions ({{ counts.Action }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'RawDataType' 'inline' %}"
	        id="rawdatatype_button"><span>Raw Data Types ({{ counts.RawDataType }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'SignatureType' 'inline' %}"
	        id="signaturetype_button"><span>Signature Types ({{ counts.SignatureType }})</span></a></li>
		<li><a href="{% url 'crits.core.views.items_listing' 'SignatureDependency' 'inline' %}"
	        id="signaturedependency_button"><span>Signature Dependency ({{ counts.SignatureDependency }})</span></a></li>
        <li><a href="{% url 'crits.core.views.items_listing' 'SourceAccess' 'inline' %}"
	        id="sourceaccess_button"><span>Sources ({{ counts.SourceAccess }})</span></a></li>
	    <li><a href="{% url 'crits.core.views.items_listing' 'UserRole' 'inline' %}"
	        id="userrole_button"><span>User Roles ({{ counts.UserRole }})</span></a></li>
    </ul>
</div>