
<tr class="expand-child">
    <td style="border-right:none;"></td><!-- collapsible spacer -->
    <td style="border-right:none;">
        <span class="heading" style="float: left;"><b>Analyst:</b> {{instance.analyst|default:""}}</span>
    </td>
    <td style="border-right:none;">
        <span class="heading"><b>Released:</b> {{instance.date|date:'Y-m-d H:i:s'}}</span>
    </td>
    <td>
    {% if admin %}
    <span class="ui-icon ui-icon-close deleteClick" 
	  action="{% url 'crits.core.views.source_releasability' %}" 
	  title="Delete Releasability Instance" 
	  data-del-type="{{ subscription.type }}" 
	  data-del-id="{{ subscription.id }}" 
	  data-del-name="{{rel.name}}" 
	  data-del-date="{{instance.date}}" 
	  data-del-action="remove_instance" 
	  data-intro="Delete Instance" 
	  data-position="right"></a>
    {% endif %}
    </td>
</tr>
