
{% if subscription.subscribed %}
<div class="top_item">
    <span class="ui-state-default ui-corner-all" style="border: 0px;">
        <a href="#" class="subscription_button" action="{% url 'crits.core.views.change_subscription' subscription.type subscription.id %}">
          <span class="ui-icon ui-icon-close subscription_link_enable" title="Unsubscribe" data-intro="Unsubscribe" data-position="left">
	  </span>
        </a>
    </span>
    </div>
{% elif subscription.subscribed != None %}
<div class="top_item">
    <span class="ui-state-default ui-corner-all" style="border: 0px;">
        <a href="#" class="subscription_button" action="{% url 'crits.core.views.change_subscription' subscription.type subscription.id %}">
        <span class="ui-icon ui-icon-signal-diag subscription_link_disable" title="Subscribe" data-intro="Subscribe" data-position="left">
        </span>
        </a>
    </span>
    </div>
{% endif %}
