
{% load filters %}

<tr>
    <td data-field="ticket_number"><a href="{% url 'crits.core.views.global_search_listing' %}?search_type=global&force_full=1&search=Search&q=field:tickets.ticket_number+{{ticket.ticket_number}}" title="See related"> {{ticket.ticket_number}}</a></td>
    <td data-field="url">
      {% if "http://" in ticket.ticket_number or "https://" in ticket.ticket_number %}
        {{ ticket.ticket_number|urlize|url_target_blank }}
      {% else %}
        {{ crits_config.rt_url|add:ticket.ticket_number | urlize|url_target_blank }}
      {% endif %}
    </td>
    <td data-field="date">{{ticket.date}}</td>
    <td data-field="analyst">{{ticket.analyst}}</td>
    <td>
    {% if admin %}
    <a href="#" title="Delete Ticket" class="ui-icon ui-icon-close deleteClick" type="ticket" action="{% url 'crits.core.views.add_update_ticket' 'remove' obj_type obj.id %}" key="{{ticket.date}}"></a>
    {% endif %}
    <a href="#" title="Edit Ticket" class="ui-icon ui-icon-pencil dialogClick" dialog="ticket" persona="update" action="{% url 'crits.core.views.add_update_ticket' 'update' obj_type obj.id %}"></a>
    </td>
</tr>
