{% extends "base.html" %}
{% load url from future %}

{% block title %}CRITs Configuration{% endblock %}

{% block content %}

<style>
    #config_results {
        color: #ff0000;
    }
</style>

<script>
    $(function() {
        $( "#systemTabs" ).tabs();
    });

</script>


<form id="config_form" action='{% url 'crits.config.views.modify_config' %}' method='POST'>
    <div id="systemTabs">
        <ul>
            <li><a href="#CRITsTab">CRITs Configuration</a></li>
            <li><a href="#generalTab">General</a></li>        
            <li><a href="#LDAP">LDAP Settings</a></li>
            <li><a href="#downloadTab">Downloading</a></li>
            <li><a href="#securityTab">Security</a></li>
            <li><a href="#servicesTab">Services</a></li>
            <li><a href="#loggingTab">Logging</a></li>
        </ul>
        <div id="generalTab"><table>{{ config_general_form.as_table }}</table></div>
        <div id="CRITsTab"><table>{{ config_CRITs_form.as_table }}</table></div>
        <div id="LDAP"><table>{{ config_LDAP_form.as_table }}</table></div>
        <div id="securityTab"><table>{{ config_security_form.as_table }}</table></div>
        <div id="loggingTab"><table>{{ config_logging_form.as_table }}</table></div>
        <div id="servicesTab"><table>{{ config_services_form.as_table }}</table></div>
        <div id="downloadTab"><table>{{ config_download_form.as_table }}</table></div>
    </div>
    
    <div id="config_sections">
        <input id="config_form_submit" class="form_submit_button" type="submit" name="submit" value="Submit"></input>
        <br /><br />
        <div id="config_results"></div>
    </div>
</form>

{% endblock %}

{% block javascript_includes %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/config.js"></script>
{% endblock %}

