{% extends "base.html" %}
{% load url from future %}
{% block title %}CRITs Configuration{% endblock %}
{% block javascript_includes %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/config.js"></script>
    <script type="text/javascript">
		//$(function () {
        //    $('#tabs').w2tabs(config.tabs);
        //    if(document.location.hash)
        //    	$(document.location.hash).show();
        //    else
        //        $('#CRITsTab').show();
        //});
		
		
	$(document).ready(function() {
		$(function () {
		    $('#sidebar').w2sidebar({
		        name: 'sidebar',
		        nodes: [ 
		            { id: 'system', class:'dontChange', text: 'System', img: 'icon-folder', expanded: true, group: true,
		              nodes: [ { id: 'generalTab', text: 'General'},
		                       { id: 'CRITsTab', text: 'CRITs'},
		                       { id: 'LDAP', text: 'LDAP Settings'},
		                       { id: 'securityTab', text: 'Security'},
                               { id: 'downloadTab', text: 'Downloading'},
                               { id: 'servicesTab', text: 'Services'},
                               { id: 'loggingTab', text: 'Logging'}
		                     ]
		            },
		            { id: 'items', text: 'Items', img: 'icon-folder', group: true},
		            { id: 'users', text: 'Users', img: 'icon-folder', group: true},
		            { id: 'services', text: 'Services', img: 'icon-folder', group: true},
		            { id: 'Audit Log', text: 'Audit Log', img: 'icon-folder', group: true}
		        ]
		    });
		    
		    w2ui.sidebar.on('*', function (event) {
		    	if(event.type == 'click') {
			        var target = "#"+event.target;
			        var targetElem = $(target);
			        
			        if(target != currentTab && targetElem != null) {
			        	targetElem.show();
			        	$(currentTab).hide();
			            currentTab = target;
			        }
		    	}
		    	else
		    		console.log("NOT A CLICK!");
		    });
		});
		//display general tab by default
		var currentTab = "#generalTab";
		$(function () {
			//if they link to a specific tag, reset current tag
	        if(document.location.hash) 
	        	currentTab = document.location.hash;
            $(currentTab).show();
            //show the correct node in the sidebar corresponding to shown tab
            var currentNode = "#node_"+currentTab.substring(1);
            $(currentNode).addClass("w2ui-selected");
        });
		
        
        	
        	
        	
       	$("table").each(function() {
               var tableRows = $(this).find('tr');
               if(tableRows.length > 12) { 
                   var firstRows = [];
                   tableRows.each(function(index) {
                       if(index < 12)
                           firstRows.push($(this));
                       else {
                           var content = $(this).html();
                           firstRows[index%12].append(content);
                           $(this).remove();
                       }
                   });
               }
           });
        	
       
		
		$("#reset_button").click(function() {
			$("#config_form")[0].reset();
		});
		
	 });
		
	</script>
		
{% endblock %}
{% block content %}
    <style>
	    #config_results {
	        color: #ff0000;
	        position:absolute;
	        text-align:center;
	        top:20px;
	        left:0;
		    right:0;
		    margin-left:auto;
		    margin-right:auto;
	    }
	    #submitWrapper {
            text-align: center;
            margin-right:100px;
        }
		#sidebar {
           width: 200px;
		   height:625px;
		   float:left;
		   border-right:1px solid grey;
		}
		#container {
		}
		.systemTable {
		  padding-top: 20px;
		  padding-left: 20px;
		}
		.systemTable th {
		  width:175px;
		  text-align: left;
		}
		#wrapper {
		  width:100%;
		  border:1px solid grey;
		  height:625px;
		  display:inline-block;
		}
		.box {
		  display:none;
		  height:550px;
		}
		#reset_button {
            padding: 4px;
			border: 1px solid #BBB;
			border-radius: 3px;
			color: #000;
			background-color: #FFF;
		}
	</style>
	
	
    <form id="config_form" action='{% url 'crits.config.views.modify_config' %}' method='POST'>
        <div id="wrapper">
        
            <div id="config_results"></div>
            
            <div id="sidebar" ></div>
            <div id='container'>
                <div id='CRITsTab' class='box'>
                   <table class="systemTable">{{ config_CRITs_form.as_table }}</table>
                </div>  
                <div id='generalTab' class='box'>
                   <table class="systemTable">{{ config_general_form.as_table }}</table>
                </div>
                <div id="LDAP" class='box'>
                   <table class="systemTable">{{ config_LDAP_form.as_table }}</table>
                </div>
                <div id="securityTab" class='box'>
                   <table class="systemTable">{{ config_security_form.as_table }}</table>
                </div>
                <div id="downloadTab" class='box'>
                   <table class="systemTable">{{ config_download_form.as_table }}</table>
                </div>
                <div id="servicesTab" class='box'>
                   <table class="systemTable">{{ config_services_form.as_table }}</table>
                </div>
                <div id="loggingTab" class='box'>
                   <table class="systemTable">{{ config_logging_form.as_table }}</table>
                </div>
                <div id="submitWrapper">
	                <input id="config_form_submit" type="submit" name="submit" value="Submit"></input>
	                <input id="reset_button" type="button" value="Reset"></input>
	            </div>
            </div>
        </div>
    </form>
	
	
{% endblock %}

