{% extends "base.html" %}


{% block title %}Domain Details{% endblock %}

{% block css_includes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/diffview.css"/>
{% endblock %}

{% block content %}

<script>
    var domain_id = "{{ domain.id | escapejs}}";
</script>

<div id="tabnav" class="tabnav" style="font-size: 90%;">
    <ul style="font-size: 125%;">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
    </ul>

    <div id="details_section">
    <div class="content_box content_details">
      <h3 class="titleheader">
    <span>Details for <span class="edit text" action="{% url 'crits.domains.views.edit_domain' domain.domain %}">{{ domain.domain }}</span></span>
      </h3>
        
        <div class="content_body">
        <table class="vertical" width="100%">
        <thead></thead>
        <tbody>
            <tr>
                <td class="key">ID</td>
                <td>{{domain.id}}</td>
            </tr>
            <tr>
                <td class="key">Created</td>
                <td>{{domain.created}}</td>
            </tr>
            <tr>
                {% with description=domain.description %}
                    {% include 'description_widget.html' %}
                {% endwith %}
            </tr>
            <tr>
                <td class="key">DNSMon Enabled</td>
                <td>{{domain.watchlistEnabled|default:"False"}}</td>
            </tr>
            <tr>
                <td class="key">Status
                    <span style="float: right;" class="object_status_response"></span>
                </td>
                <td>
                    <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{domain.status}}</span>
                </td>
            </tr>
            {% with sectors=domain.sectors %}
                {% include "sector_widget.html" %}
            {% endwith %}
            <tr>
                {% with sources=domain.source obj_id=domain.id obj_type=subscription.type %}
                    {% include "sources_listing_widget.html" %}
                {% endwith %}
            </tr>
            <tr>
                {% with releasability=domain.releasability %}
                    {% include "releasability_list_widget.html" %}
                {% endwith %}
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div id="detail_floaters">
        {% include 'details_options_widget.html' %}
        {% with bucket_list=domain.bucket_list %}
            {% include 'bucket_list_widget.html' %}
        {% endwith %}
        {% include 'add_related_widget.html' %}

    </div>
    <div class="content_box">
        {% with obj=domain obj_type="Domain" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
    </div>
    <div>
      {% with obj=domain obj_type=subscription.type %}
         {% include 'tickets_listing_widget.html' %}
      {% endwith %}
    </div>
    <div>
        {% with hit=domain col=COL_DOMAINS %}
            {% include "campaigns_display_widget.html" %}
        {% endwith %}
    </div>
    <div>
        {% with hit=domain col=COL_DOMAINS %}
            {% include "locations_display_widget.html" %}
        {% endwith %}
    </div>
    <div>
       {% include 'relationships_listing_widget.html' %}
    </div>
    <div>
       {% include 'objects_listing_widget.html' %}
    </div>
    <div>
    {% include 'screenshot_widget.html' %}
    </div>
    <div>
       {% include "comments_listing_widget.html" %}
    </div>

    </div> <!-- details_section -->

    {% with item=domain %}
        {% include "services_analysis_section.html" with crits_type="Domain" identifier=domain.id %}
    {% endwith %}

    {% include 'services_tab_tabs_widget.html' %}
</div><!-- tabnav -->

{% endblock %}

{% block javascript_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jsdifflib/diffview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jsdifflib/jsdiff.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jsdifflib/difflib.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/domains_details.js"></script>
{% endblock %}
