{% extends "base.html" %}
{% load filters %}

{% block title %} Actor Detail {% endblock %}

{% block content %}

<script>
    var edit_actor_name = "{% url 'crits.actors.views.edit_actor_name' actor.id|urlencode %}";
    var update_actor_aliases = "{% url 'crits.actors.views.edit_actor_aliases' %}";
    var actor_id = "{{ actor.id | escapejs }}"
</script>

<div id="tabnav" class="tabnav" style="font-size:90%">
    <ul style="font-size: 125%">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
    </ul>

<div id="details_section">
    {% if ActorACL.DOWNLOAD|has_access_to:user or ActorACL.DELETE|has_access_to:user %}
    <span class="horizontal_menu">
    <ul class="hmenu">
        {% if ActorACL.DOWNLOAD|has_access_to:user %}
        <li><a href="#" class="dialogClick" dialog="download-actor">Download Actor</a></li>
        {% endif %}
        {% if ActorACL.DELETE|has_access_to:user %}
        <li class="right"><a href="#" class="deleteClick" data-is-object="true" type="actor" action='{% url "crits.actors.views.remove_actor" actor.id %}'>Delete Actor</a></li>
        {% endif %}
    </ul>
    </span>
    {% endif %}

    <div class="content_box content_details">
        <h3 class="titleheader">
            <span>Details for {{actor.name}}</span>
        </h3>
        <div class="content_body">
            <table class="vertical" width="100%">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="key">ID</td>
                        <td>{{actor.id}}</td>
                    </tr>
                    <tr>
                        <td class="key">Name</td>
                        <td>
                            <span class="edit_underline" id="edit_actor_name">{{actor.name}}</span>
                        </td>
                    </tr>
                    {% if ActorACL.ALIASES_READ|has_access_to:user %}
                    <tr>
                        <td class="key">Aliases</td>
                        <td>
                            <ul id="actor_aliases">
                                {% for alias in actor.aliases %}
                                    <li>{{ alias }}</li>
                                {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if ActorACL.DESCRIPTION_READ|has_access_to:user %}
                    <tr>
                        {% with description=actor.description %}
                            {% include 'description_widget.html' %}
                        {% endwith %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="key">Created</td>
                        <td>{{actor.created}}</td>
                    </tr>
                    <tr>
                        <td class="key">Modified</td>
                        <td>{{actor.modified}}</td>
                    </tr>
                    {% if ActorACL.STATUS_READ|has_access_to:user %}
                    <tr>
                        <td class="key">Status
                            <span style="float: right;" class="object_status_response"></span>
                        </td>
                        <td>
                            <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{actor.status}}</span>
                        </td>
                    </tr>
                    {% endif %}
                    {% include "actor_tags_widget.html" %}
                    {% with tlp=actor.tlp %}
                        {% include "tlp_widget.html" %}
                    {% endwith %}
                    {% if ActorACL.SECTORS_READ|has_access_to:user %}
                      {% with sectors=actor.sectors %}
                          {% include "sector_widget.html" %}
                      {% endwith %}
                    {% endif %}
                    <tr>
                        {% if ActorACL.SOURCES_READ|has_access_to:user %}
                        {% with sources=actor.source obj_id=actor.id obj_type=subscription.type %}
                            {% include "sources_listing_widget.html" %}
                        {% endwith %}
                        {% endif %}
                    </tr>
                    {% if ActorACL.RELEASABILITY_READ|has_access_to:user %}
                    <tr>
                        {% with releasability=actor.releasability %}
                            {% include "releasability_list_widget.html" %}
                        {% endwith %}
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div> <!-- content_body -->
     </div> <!-- content_box -->
     <div id="detail_floaters">
         {% include 'details_options_widget.html' %}
         {% if ActorACL.BUCKETLIST_READ|has_access_to:user %}
         {% with bucket_list=actor.bucket_list %}
             {% include 'bucket_list_widget.html' %}
         {% endwith %}
         {% endif %}
         {% include 'add_related_widget.html' %}
     </div>
    <div class="content_box">
      {% if ActorACL.ACTIONS_READ|has_access_to:user %}
        {% with obj=actor obj_type="Actor" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
      {% endif %}
    </div>
     <div id="actor_identifier_widget_container">
       {% if ActorACL.ACTOR_IDENTIFIERS_READ|has_access_to:user %}
         {% include "actor_identifiers_widget.html" %}
        {% endif %}
     </div>
     <div>
      {%if ActorACL.TICKETS_READ|has_access_to:user %}
	    {% with obj=actor obj_type=subscription.type %}
                {% include 'tickets_listing_widget.html' %}
	    {% endwith %}
      {%endif%}
    </div>
    <div>
      {% if ActorACL.CAMPAIGNS_READ|has_access_to:user and "Campaign.read"|has_access_to:user %}
        {% with hit=actor col=COL_ACTORS %}
            {% include "campaigns_display_widget.html" %}
        {% endwith %}
      {%endif%}
    </div>
    <div>
      {% if ActorACL.LOCATIONS_READ|has_access_to:user %}
        {% with hit=actor col=COL_ACTORS %}
            {% include "locations_display_widget.html" %}
        {% endwith %}
      {% endif %}
    </div>
    <div>
      {% if ActorACL.RELATIONSHIPS_READ|has_access_to:user %}
        {% include 'relationships_listing_widget.html' %}
      {% endif %}

    </div>
    <div>
      {% if ActorACL.OBJECTS_READ|has_access_to:user %}
        {% include 'objects_listing_widget.html' %}
      {% endif %}
    </div>
    <div>
    {% if ActorACL.SCREENSHOTS_READ|has_access_to:user %}
      {% include 'screenshot_widget.html' %}
    {% endif %}
    </div>
    <div>
      {% if ActorACL.COMMENTS_READ|has_access_to:user %}
        {% include "comments_listing_widget.html" %}
      {% endif %}
    </div>
</div> <!-- details_section -->

{% with item=actor %}
    {% include "services_analysis_section.html" with crits_type="Actor" identifier=actor.id %}
{% endwith %}

{% include 'services_tab_tabs_widget.html' %}
</div>

<div style="display: none;">

<div id="dialog-download-actor">
    <form id="form-download-actor" action="{% url 'crits.core.views.download_object' %}" method="POST" enctype="multipart/form-data">
    <table class="form">{{download_form.as_table}}</table>
    </form>
</div>

</div>

<script type="text/javascript">
    $(document).bind('enable_actor_aliases', function(){
        window.add_actor_aliases = true;
    });
</script>

{% endblock %}

{% block javascript_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/actors.js"></script>
{% endblock %}
