{% load url from future %}
<tr>
    <td colspan="2" class="relationship_spacer"></td>
</tr>
<tr>
<td>
    <b>{{ rel_type}}s:</b>
    {% if nohide == None and rel_list|length > 5 %}
        <span style="float: right;" class="ui-icon ui-icon-triangle-1-e relationships_dropdown"></span>
    {% else %}
        <span style="float: right;" class="ui-icon ui-icon-triangle-1-s relationships_dropdown"></span>
    {% endif %}
    <b><span class="rel_type_count">{{ rel_list|length }}</span></b>
</td>
<td style="padding: 0px; margin:0px;">
    {% if nohide == None and rel_list|length > 5 %}
            <table class='chart' id='relationship_listing_table' style="display: none; border: 0px;">
    {% else %}
            <table class='chart' id='relationship_listing_table' style="border: 0px;">
    {% endif %}
        <thead>
            <tr style="border-top: 0px;">
                <th width="20px"><span class="ui-icon ui-icon-document" title="Details"></span></th>
                <th width="120px">Relationship</th>
                <th>From</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Campaign</th>
                <th>Analyst</th>
                <th>Date</th>
                <th width="75px">Confidence</th>
                <th width="35px"></th>
            </tr>
        </thead>
        <tbody>
            {% for rel in rel_list %}
            <tr mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rConfidence="{{ rel.rel_confidence }}" rvalue  ="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}">
                <td style="width: 16px; padding: 0px"><a href="{% url 'crits.core.views.details' rel_type rel.value %}" style="width: 16px; padding: 0px" class="ui-icon ui-icon-document" title="View Details"></a></td>
                <td class="relationship_type_edit tooltip_edit" action="{% url 'crits.relationships.views.update_relationship_type' %}">{{ rel.relationship }}</td>
                <td><a href="{% url 'crits.emails.views.emails_listing' %}?search_type=from&q={{rel.from}}&force_full=1">{{ rel.from }}</a>
                {% if splunk_search_url %}
                <span style="float: right;">
                    <a href="{{ splunk_search_url }}{{ rel.from }}"><img src="/new_images/splunk.png" border="0px"/></a>
                </span>
                {% endif %}
                </td>
                <td>
                {% if rel.sender %}
                    <a href="{% url 'crits.emails.views.emails_listing' %}?search_type=sender&q={{rel.sender|urlencode}}&force_full=1">{{ rel.sender }}</a>
                    {% if splunk_search_url %}
                    <span style="float: right;">
                        <a href="{{ splunk_search_url }}{{ rel.sender }}"><img src="/new_images/splunk.png" border="0px"/></a>
                    </span>
                    {% endif %}
                {% endif %}
                </td>
                <td><a href="{% url 'crits.emails.views.emails_listing' %}?subject={{rel.subject|urlencode}}&force_full=1">{{ rel.subject }}</a>
                </td>
                <td class='campaignWidth'>
                    {% for campaign in rel.campaign %}
                        <a href="{% url 'crits.campaigns.views.campaign_details' campaign.name %}">
                            {% if campaign.confidence == 'low' %}
                                <font color="green">
                            {% elif campaign.confidence == 'medium' %}
                                 <font color="orange">
                            {% elif campaign.confidence == 'high' %}
                                 <font color="red">
                            {% endif %}
                                 {{ campaign.name }}
                            </font>
                         </a>
                         <br />
                     {% endfor %}
                </td>
                <td width="125px">{{rel.analyst}}</td>
                <td width="125px">{{rel.relationship_date|date:"Y-m-d H:i:s"}}</td>
                <td class='relationship_confidence_edit' action="{% url 'crits.relationships.views.update_relationship_confidence' %}">{{ rel.rel_confidence }}</td>
                <td width="35px">
                    <div class="qtip-container ui-icon ui-icon-note" title="More Info..."></div>
                    <div class="qtip-body" mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}">
                        <b>Relationship Date:</b> <span class="relationship_date_edit tooltip_edit" action="{% url 'crits.relationships.views.update_relationship_date' %}">
                            {% if rel.relationship_date != '' %}
                                {{ rel.relationship_date }}
                            {% else %}
                                None
                            {% endif %}
                            </span><br />
                        <b>Forge Date:</b> {{ rel.date|date:"Y-m-d" }}
                        <div  mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}" rConfidence="{{ rel.rel_confidence }}" {% if rel_type == 'Indicator' %} data-value="{{rel.ind_value}}" data-type="{{rel.ind_type}}"{% endif %}>
                        	<b>Reason: </b>
                           	<div style="display:inline-block; min-width:200px" class='relationship_reason_edit' action="{% url 'crits.relationships.views.update_relationship_reason' %}">
                            	{% if rel.rel_reason != null and rel.rel_reason != '' %}
                            		{{ rel.rel_reason }}
                          		{% else %}
                              		N/A
                          		{% endif %}
                         	</div>
                    	</div>
                    </div>      
                    <div>
                    </div>
                    {% if source_add %}
                            <div class="ui-icon ui-icon-trash dialogClick" dialog="confirm-breakup" mtype="{{ relationship.type }}" mvalue="{{ relationship.value }}" rtype="{{ rel_type }}" rvalue="{{ rel.value }}" frel="{{ rel.relationship }}" rdate="{{ rel.relationship_date }}" fdate="{{ rel.date }}"></div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</td>
</tr>
                    
