{% extends "base.html" %}

{% load filters %}

{% block title %} Email Detail {% endblock %}
{% block content %}

<script>
    var indicator_from_header_field = "{% url 'crits.emails.views.indicator_from_header_field' email.id %}";
    var email_detail = "{% url 'crits.emails.views.email_detail' email.id %}";
    var update_header_value = "{% url 'crits.emails.views.update_header_value' email.id %}";
    var splunk_search_url = "{{ splunk_search_url }}";
    var email_id = "{{ email.id | escapejs }}"
</script>

<div id="tabnav" class="tabnav" style="font-size:90%">
    <ul style="font-size: 125%">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#raw_section" id="raw_button"><span>Raw Email</span></a></li>
    <li><a href="#json_section" id="json_button"><span>JSON View</span></a></li>
    <li><a href="#yaml_section" id="yaml_button"><span>YAML View</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
    </ul>
<div id="details_section">
    <div class='content_box'>
        <span class="horizontal_menu">
        <ul class="hmenu">
            <li><a href="#" class="dialogClick" dialog="new-sample" persona="related" action="{% url 'crits.emails.views.upload_attach' email.id %}">Add Attachment</a></li>
            <li><a href="#" class="dialogClick" dialog="download-email">Download Email</a></li>
            {% if admin %}
            <li class="right"><a href="#" class="deleteClick" data-is-object="true" type="email" action='{% url "crits.emails.views.email_del" email.id %}'>Delete Email</a></li>
            {% endif %}
        </ul>
        </span>
    </div>

{% if email %}
    <div class='content_box content_details'>
    <h3 class='titleheader'>
        <span>Email Details</span>
    </h3>
    <table id="email_listing_table" class="vertical" width="100%">
        <colgroup>
            <col width="150px">
            <col width="85%">
        </colgroup>
        <thead>
        </thead>
        <tbody>
        <tr data-type='String'>
            <td class='key'>ID</td>
            <td>
                {{ email.id }}
            </td>
        </tr>
        <tr>
            {% with description=email.description %}
                {% include 'description_widget.html' %}
            {% endwith %}
        </tr>

        {% for email_field in email_fields %}
        <tr>
            <td class='key'>{{ email_field.field_displayed_text}}
                {% if email_field.is_allow_create_indicator %}
                    {% if email_field|does_field_have_indicator:relationships %}
                        <span data-type='{{ email_field.field_type }}' data-field='{{ email_field.field_name }}' title="Create Indicator: Warning: Indicator might already exist" style="float: right;" class="ui-icon ui-icon-circle-plus create-indicator"></span>
                    {% else %}
                        {% if not email_field.field_value or email_field.field_value.strip == "" %}
                            <span data-type='{{ email_field.field_type }}' data-field='{{ email_field.field_name }}' title="Create Indicator: Warning: A value should be supplied first" style="float: right;" class="ui-icon ui-icon-alert create-indicator"></span> 
                        {% elif email_field.field_value %}
                            <span data-type='{{ email_field.field_type }}' data-field='{{ email_field.field_name }}' title="Create Indicator" style="float: right;" class="ui-icon ui-icon-plusthick create-indicator">"{{email_field.field_value}}"</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if email_field.is_editable %}
                    <span style="float: right;" class="header_edit_response"></span>
                {% endif %}
            </td>
            <td>
                {% if email_field.is_email_list %}
                    <span class="header_value" data-type="{{ email_field.field_name }}" data-list="{% for value in email_field.field_value %}{{ value }}, {% endfor %}">
                    {% for value in email_field.field_value %}
                        <a href="{% url 'crits.targets.views.target_info' value %}">{{ value }}</a>,
                    {%endfor%}
                </span>
                {% elif email_field.is_href %}
                    <a class="header_search" href="{% url 'crits.emails.views.emails_listing' %}?{{ email_field.href_search_field }}={{ email_field.field_value|urlencode }}"><span class="header_value" data-type="{{ email_field.field_name }}">{{ email_field.field_value }}</span></a>
                {% else %}
                    <span class="header_value" data-type="{{ email_field.field_name }}">{{ email_field.field_value }}</span>
                {% endif %}
                {% if email_field.is_editable %}
                    <span class="ui-icon ui-icon-pencil edit_header_value" title="Edit Value"></span>
                {% endif %}
                {% if splunk_search_url %}
                    <span style="float: right;">
                        <a class="splunk_link" href="{{ splunk_search_url }}{{ email_field.field_value }}"><img src="/new_images/splunk.png" border="0px"/></a>
                    </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="key">Status
                <span style="float: right;" class="object_status_response"></span>
            </td>
            <td>
                <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{email.status}}</span>
            </td>
        </tr>
        {% with sectors=email.sectors %}
            {% include "sector_widget.html" %}
        {% endwith %}
        <tr>
        {% with sources=email.source obj_id=email.id obj_type=subscription.type %}
            {% include "sources_listing_widget.html" %}
        {% endwith %}
        </tr>
        <tr>
        {% with releasability=email.releasability %}
             {% include 'releasability_list_widget.html' %}
        {% endwith %}
        </tr>
        </tbody> 
    </table>
    </div>
    <div id="detail_floaters">
        {% include 'details_options_widget.html' %}
        {% with bucket_list=email.bucket_list %}
            {% include 'bucket_list_widget.html' %}
        {% endwith %}
        {% include 'add_related_widget.html' %}

    </div>
    <div class="content_box">
        {% with obj=email obj_type="Email" %}
            {% include 'action_listing_widget.html' %}
        {% endwith %}
    </div>
    <div>
      {% with obj=email obj_type=subscription.type %}
         {% include 'tickets_listing_widget.html' %}
      {% endwith %}
    </div>
    <div>
    {% with hit=email col=COL_EMAIL %}
        {% include 'campaigns_display_widget.html' %}
    {% endwith %}
    </div>
    <div>
    {% with hit=email col=COL_EMAIL %}
        {% include 'locations_display_widget.html' %}
    {% endwith %}
    </div>
    <div id="relationships_div_container">
        {% include 'relationships_listing_widget.html' %}
    </div>
    <div>
        {% include 'objects_listing_widget.html' %}
    </div>
    <div>
        {% include "screenshot_widget.html" %}
    </div>
    <div>
        {% include "comments_listing_widget.html" %}
    </div>
</div>
<div id="raw_section">
    <div class='content_box'>
    <h3 class='titleheader'>
        <span>Raw Header</span>
        <span class="add_button">
            <a href="#" title="Edit Header" class="ui-icon ui-icon-pencil edit_raw_email" data-type="raw_header"></a>
        </span>
        <span class="raw_edit_response" style="display: inline-block;"</span>
    </h3>
    <div>
        <pre>
            <textarea class="email_header_raw" rows="10" cols="150" data-type="raw_header" id="email_header_raw_header" readonly>{{ email.raw_header }}</textarea>
        </pre>
        <form id="form_edit_raw_header" style="display: none;">
            <button class="form_submit_button raw_submit" data-type="header">Cancel</button>
            <button class="form_submit_button raw_submit" data-type="header">Submit</button>
        </form>
    </div>
    </div>
    <div class='content_box'>
    <h3 class='titleheader'>
        <span>Raw Body</span>
        <span class="add_button">
            <a href="#" title="Edit Body" class="ui-icon ui-icon-pencil edit_raw_email" data-type="raw_body"></a>
        </span>
        <span class="raw_edit_response" style="display: inline-block;"</span>
    </h3>
    <div>
        <pre>
            <textarea class="email_header_body" rows="10" cols="150" data-type="raw_body" id="email_header_raw_body" readonly>{{ email.raw_body }}</textarea>
        </pre>
        <form id="form_edit_raw_body" style="display: none;">
            <button class="form_submit_button raw_submit" data-type="body">Cancel</button>
            <button class="form_submit_button raw_submit" data-type="body">Submit</button>
        </form>
    </div>
    </div>
</div>
<div id="json_section">
    <textarea id="json_display" cols="150" rows="40"></textarea>
</div>
<div id="yaml_section">
    <textarea id="yaml_display" cols="150" rows="40"></textarea>
</div>

{% with item=email %}
    {% include "services_analysis_section.html" with crits_type="Email" identifier=email.id %}
{% endwith %}

{% include 'services_tab_tabs_widget.html' %}
</div>

<div style="display: none;">

<div id="dialog-download-email">
    <form id="form-download-email" action="{% url 'crits.core.views.download_object' %}" method="POST" enctype="multipart/form-data">
    <table class="form">{{download_form.as_table}}</table>
    </form>
</div>

</div>

{% endif %}

{% endblock %}

{% block javascript_includes %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/emails.js"></script>
{% endblock %}

