{% extends "base.html" %}


{% block title %} Indicator Detail {% endblock %}

{% block content %}

<script>
    var get_indicator_type_dropdown = "{% url 'crits.indicators.views.get_indicator_type_dropdown' %}";
    var indicator_id = "{{ indicator.id | escapejs }}";
    var ta_search = "{% url 'crits.core.views.global_search_listing' %}";
    var threat_type_modify = "{% url 'crits.indicators.views.threat_type_modify' indicator.id|escapejs%}";
    var attack_type_modify = "{% url 'crits.indicators.views.attack_type_modify' indicator.id|escapejs%}";
    var threat_type_list = "{% url 'crits.indicators.views.get_available_threat_types' %}";
    var attack_type_list = "{% url 'crits.indicators.views.get_available_attack_types' %}";

</script>

<div id="tabnav" class="tabnav" style="font-size:90%">
    <ul style="font-size: 125%">
    <li><a href="#details_section" id="details_button"><span>Details</span></a></li>
    <li><a href="#analysis_section" id="analysis_button"><span>Analysis ({{ service_results|length }})</span></a></li>
    {% include 'services_tab_list_widget.html' %}
    </ul>
<div id="details_section">

{% if indicator %}
    <div class='content_box'>
        <span class="horizontal_menu">
        <ul class="hmenu">
            <li><a href="#" class="dialogClick" dialog="download-indicator">Download Indicator</a></li>
            {% if admin %}
            <li class="right"><a href="#" class="deleteClick" data-is-object="true" type="indicator" action='{% url "crits.indicators.views.remove_indicator" indicator.id %}'>Delete Indicator</a></li>
            {% endif %}
        </ul>
        </span>
    </div>

<div class="content_box content_details">
    <h3 class="titleheader">
    <span>Summary</span>
    </h3>
    <div class="content_body">
    <table class="vertical" width="100%">
    <thead>
    </thead>
    <tbody>
        <tr>
        <td class='key'>ID</td>
        <td>
            {{ indicator.id }}
        </td>
        </tr>
        <tr>
        <td class='key'>
            Type
            <span style="float: right;display: inline-block" id="indicator_type_error"></span>
        </td>
        <td>
            <span class="edit" id="indicator_type" action="{% url 'crits.indicators.views.update_indicator_type' indicator.id %}">{{indicator.ind_type}}</span>
        </td>
        </tr>
        <tr>
            <td class='key'>Threat Types</td>
            <td>
                <ul id="threat_type_list" class="ctaglist">
                    {% for threat_type in indicator.threat_types %}
                        <li>{{threat_type}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class='key'>Attack Types</td>
            <td>
                <ul id="attack_type_list" class="ctaglist">
                    {% for attack_type in indicator.attack_types %}
                        <li>{{attack_type}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% if indicator.ind_type == 'Domain' %}
        <tr>
        <td class='key'>
            Value
        </td>
        <td>
            <a href='{% url "crits.domains.views.domain_detail" indicator.value %}'>{{ indicator.value }}</a>
    {% elif indicator.type == 'Email Address' or indicator.type == 'Email Address From' or indicator.type == 'Email Reply-To' or indicator.type == 'Email Address Sender' %}
        <tr>
        <td class='key'>
            Value
        </td>
        <td>
            <a href='{% url 'crits.emails.views.emails_listing' %}?from={{indicator.value}}'>{{ indicator.value }}</a>
    {% elif indicator.type == 'IPv4 Address' or indicator.type == 'IPv6 Address'%}
        <tr>
        <td class='key'>
            Value
        </td>
        <td>
            <a href='{% url 'crits.ips.views.ip_detail' indicator.value %}'>{{ indicator.value }}</a>
    {% else %}
        <tr>
        <td class='key'>
            Value
        </td>
        <td>
            <span style="white-space:pre-wrap">{{ indicator.value }}</span>
    {% endif %}
        {% if splunk_search_url %}
             <span style="float: right;">
                 <a href="{{ splunk_search_url }}{{ indicator.value }}"><img src="/new_images/splunk.png" /></a>
             </span>
        {% endif %}
         </td>
         </tr>
        <tr>
            {% with description=indicator.description %}
                {% include 'description_widget.html' %}
            {% endwith %}
        </tr>
        <tr>
        <td class='key'>
            Creation Date
        </td>
        <td>
            {{ indicator.created }}
        </td>
        </tr>
        <tr>
        <td class='key'>
            Last Modified
        </td>
        <td>
            {{ indicator.modified }}
        </td>
        </tr>
        <tr>
        <td class='key' style="width:20%">
            Confidence
        </td>
        <td>
            <div style="text-align: center;" class="slider" id="slider-confidence" rating="{{ indicator.confidence.rating|default:'low' }}" action="{% url 'crits.indicators.views.update_ci' indicator.id 'confidence' %}">
                <a style="left: 0%; width: 55px; font-size:90%; z-index: 1;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
            </div>
        </td>
        </tr>
        <tr>
        <td class='key'>
            Impact
        </td>
        <td>
            <div style="text-align: center;" class="slider" id="slider-impact" rating="{{ indicator.impact.rating|default:'low' }}" action="{% url 'crits.indicators.views.update_ci' indicator.id 'impact' %}">
                <a style="left: 0%; width: 55px; font-size:90%; z-index: 1;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
            </div>
        </td>
        </tr>
        <tr>
        <td class="key">Status
            <span style="float: right;" class="object_status_response"></span>
        </td>
        <td>
            <span class="edit" id="object_status" action="{% url 'crits.core.views.update_status' subscription.type subscription.id %}">{{indicator.status}}</span>
        </td>
        </tr>
        {% with sectors=indicator.sectors %}
            {% include "sector_widget.html" %}
        {% endwith %}
        <tr>
        {% with sources=indicator.source obj_id=indicator_id obj_type=subscription.type %}
            {% include "sources_listing_widget.html" %}
        {% endwith %}
        </tr>
        <tr>
        {% with releasability=indicator.releasability %}
            {% include 'releasability_list_widget.html' %}
        {% endwith %}
        </tr>
    </tbody>
    </table>
    </div>
</div>
<div id="detail_floaters">
    {% include 'details_options_widget.html' %}
    {% with bucket_list=indicator.bucket_list %}
        {% include 'bucket_list_widget.html' %}
    {% endwith %}
    {% include 'add_related_widget.html' %}

</div>
<div class="content_box">
    {% with obj=indicator obj_type="Indicator" %}
        {% include 'action_listing_widget.html' %}
    {% endwith %}
</div>
<div>
    {% with obj=indicator obj_type=subscription.type %}
        {% include 'tickets_listing_widget.html' %}
    {% endwith %}
</div>
<div>
    {% with hit=indicator col=COL_INDICATORS obj=indicator %}
        {% include "campaigns_display_widget.html" %}
    {% endwith %}
</div>
<div>
    {% with hit=indicator col=COL_INDICATORS obj=indicator %}
        {% include "locations_display_widget.html" %}
    {% endwith %}
</div>
<div class="content_box">
    <h3 class="titleheader">
    <span>Activity</span>
    <span class="add_button" data-intro="Add activity" data-position="right">
      <a href="#" title="Add Activity" class="ui-icon ui-icon-plusthick dialogClick" dialog="add-activity" persona="new" action="{% url 'crits.indicators.views.add_update_activity' 'add' indicator.id %}"></a>
    </span>
    </h3>
    <div class="content_body">
    <table class="chart" id="activity_listing">
    <thead>
        {% if indicator.activity %}
        <tr>
        {% else %}
        <tr style="display:none">
        {% endif %}
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Date Added</th>
        <th>Analyst</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% with indicator_id=indicator.id %}
        {% for activity in indicator.activity %}
            {% include "indicators_activity_row_widget.html" %}
        {% endfor %}
        {% endwith %}
    </tbody>
    </table>
    </div>
</div>
<div>
{% include 'relationships_listing_widget.html' %}
</div>
<div>
{% include 'objects_listing_widget.html' %}
</div>
<div>
{% include 'screenshot_widget.html' %}
</div>
<div>
{% include "comments_listing_widget.html" %}
</div>
</div>

{% with item=indicator %}
    {% include "services_analysis_section.html" with crits_type="Indicator" identifier=indicator.id %}
{% endwith %}

{% include 'services_tab_tabs_widget.html' %}
</div>

<div style="display: none;">

<div id="dialog-download-indicator" title="Download Indicator">
    <form id="form-download-indicator" action='{% url "crits.core.views.download_object" %}' method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table class="form">{{forms.download_form.as_table}}</table>
    </form>
</div>

<div id="dialog-add-activity" title="Add Activity">
    <form id="form-add-activity" method='POST' enctype="multipart/form-data" item-type="activity">
    <table class="form"> {{ forms.new_activity.as_table }} </table>
    </form>
</div>

</div>

{% else %}
<h1>Missing indicator.</h1>

{% endif %}
{% endblock %}

{% block javascript_includes %}
<script type="text/javascript">
    $(document).bind('enable_threat_types', function(){
        threat_type_load = false;
    });
    $(document).bind('enable_attack_types', function(){
        attack_type_load = false;
    });
</script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/indicators.js"></script>

 {% comment %}
 Moved relationship setup here, so we can get dialogs to init
 {% endcomment %}


{% endblock %}

