
<div class="content_box" style="width: 75%;">
    <h3 class="titleheader">
        <span>Configuration</span>
    </h3>
    {% if config %}
    <div style="margin-top: -10px;">
    <br />
        {% if admin %}
        <div class='content_box'>
            <span class="horizontal_menu">
                <ul class="hmenu">
                    <li><a href="{% url 'crits.services.views.edit_config' service.name %}" style="display: inline">Edit</a></li>
                </ul>
            </span>
        </div>
        {% endif %}
        <table class='vertical' width="100%">
            <tbody>
            {% for key, value in config.items %}
                <tr>
                    <td class="key">{{ key }}</td>
                    <td>{{ value|linebreaksbr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No config options available.</p>
    {% endif %}
    </div>
</div>
