
{% load filters %}

<div class="content_box">
<a name="{{ analysis.service_name }}-{{ analysis.analysis_id }}"></a>
<h3 class="titleheader">
    <span id="analysis_{{ analysis.analysis_id }}" class="collapsible">
        {% if analysis.status == "error" %}
        <img src="/new_images/red_circle.png" class="analysisindicator" title="Error">
        {% elif analysis.status == "started" %}
        <img src="/new_images/loader_circle.gif" class="analysisindicator" title="Running">
        {% elif not analysis.results %}
        <img src="/new_images/yellow_circle.png" class="analysisindicator" title="No Results">
        {% else %}
        <img src="/new_images/green_circle.png" class="analysisindicator" title="Complete">
        {% endif %}
        {{ analysis.service_name }} (v.{{ analysis.version}})</span>
   <span style="float: right;" class="ui-icon ui-icon-triangle-1-s collapsible"></span>
</h3>
<div style="display: none;">
    <p>
    <a id="info_button" href="#" style="display: inline">Info</a>
    | <a id="log_button" href="#" style="display: inline">Log</a>
    | <a id="results_button" href="#" style="display: inline">Results</a>
    {% if admin %}
    | <a class="delete_analysis" href="{% url 'crits.services.views.delete_task' crits_type analysis.object_id analysis.id %}" style="display: inline" msg="Delete {{ analysis.service_name }} (v.{{ analysis.version }}) - {{ analysis.status|capfirst }} from {{ analysis.start_date }}?">Delete</a>
    {% endif %}
    </p>
<div id="info" style="display: none;" class="titleheader">
    <h3>Information</h3>
    <ul>
        <!--<li>ID: {{ analysis.analysis_id }}</li>-->
        <li>Start: {{ analysis.start_date }}</li>
        <li>Finish: {{ analysis.finish_date }}</li>
        <li>Analyst: {{ analysis.analyst }}</li>
    </ul>
    <h4>Configuration</h4>
{% if analysis.config %}
    <ul>
    {% with config=analysis.config|to_dict %}
        {% for key, value in config.items %}
        <li><b> {{ key }} </b>: {{ value }}</li>
        {% endfor %}
    {% endwith %}
    </ul>
{% else %}
    No configuration information available.
{% endif %}
</div>

<div id="log" style="display: none;" class="titleheader">
    <h3>Analysis Log</h3>
    <table class="chart">
    <thead>
        <tr>
            <th>Level</th>
            <th>Date/Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for l in analysis.log %}
        <tr>
            <td>{{ l.level }}</td>
            <td>{{ l.datetime }}</td>
            <td>{{ l.message|linebreaksbr }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>



<div id="results">
    <h3>Results</h3>

    {% if analysis.template %}
        {% if analysis.template|template_exists %}
            {% include analysis.template %}
        {% else %}
            <p>ERROR: Requested custom analysis template {{ analysis.template }} does not exist.</p>
        {% endif %}
    {% else %}
        {% include 'services_results_default.html' %}
    {% endif %}


</div>

{% comment %}
{# This will show the raw JSON stored in the database (for debugging) #}
{# Remove comment/endcomment tags to show. #}
<pre>{{ analysis|pprint }}</pre>
{% endcomment %}

</div>
</div>
