
<div class="content_box">
    <span class="horizontal_menu">
    <ul class="hmenu">
    <li><a id="refresh_services" data-url="{% url 'crits.services.views.refresh_services' relationship.type relationship.value %}" href="#">Refresh Services</a></li>
    {% for service in service_list %}
    <li><a class="service_run_button" data-url="{% url 'crits.services.views.get_form' service relationship.type relationship.value %}" href="#">{{ service }}</a></li>
    {% empty %}
        <li>No services enabled.</li>
    {% endfor %} </ul>
    </span>
</div>

    {% for analysis in service_results %}
        {% if analysis.analysis_id %}
            {% include 'services_analysis_widget.html' with analysis=analysis crits_type=crits_type identifier=identifier%}
        {% endif %}
    {% endfor %}
