{% load url from future %}
<tr>
    <td id="location_type" data-field="location_type">{{location.location_type}}</td>
    <td id="location" data-field="location">{{location.location}}</td>
    <td data-field="description">
        <span class="location_description edit_underline">{% if location.description %}{{location.description}}{% else %}None{% endif %}</span>
    </td>
    <td data-field="latitude">
        <span class="location_latitude edit_underline">{% if location.latitude %}{{location.latitude}}{% else %}None{% endif %}</span>
    </td>
    <td data-field="longitude">
        <span class="location_longitude edit_underline">{% if location.longitude %}{{location.longitude}}{% else %}None{% endif %}</span>
    </td>
    <td data-field="analyst">{{location.analyst}}</td>
    <td id="location_date" data-field="date">{{location.date}}</td>
    {% with hit=obj|default:hit %}
    <td>
        {% if admin %}
        <a href="#"
           title="Delete Location"
           class="ui-icon ui-icon-close deleteClick"
           type="location" value="{{location.location}}"
           data-del-type="Location Association"
           data-del-key="{{location.location}}"
           action="{% url 'crits.locations.views.remove_location' relationship.type hit.id %}"
           key="{{location.location}}|{{location.location_type}}|{{location.date}}"></a>
        {% endif %}
    </td>
    {% endwith %}
</tr>
